.xcontainer {
    float: left;
}

#dose-response-curves-main path {
    stroke-width: 1;
    fill: none;
}

#dose-response-curves-main .plotline {
    stroke: black;
    stroke-width: 2;
}

#dose-response-curves-main .auxline {
    stroke: gray;
    stroke-width: 1;
}

#dose-response-curves-main .axis {
    shape-rendering: crispEdges;
}

#dose-response-curves-main .axis line, #dose-response-curves-main .axis path {
    fill: none;
    stroke: #000;
}

#dose-response-curves-main .axis text, #dose-response-curves-main .label, #controls td {
  font-family: Consolas, Monaco, "Andale Mono WT", "Andale Mono", "Nimbus Mono L", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Courier New", Courier, monospace;
  font-size: 10pt;
}

#dose-response-curves-main .subscript {
  font-size: 8pt;
}

#dose-response-curves-main .superscript {
  font-size: 7pt;
}

#dose-response-curves-main .area {
    fill: #f7ab53;
    stroke-width: 0;
}

#dose-response-curves-main .equation-box {
    width: 100%;
}

#graph-container {
    /* width: 604px;
    width: 1208px; */
    width: 1350px;
    margin: 0px auto;
}

#dose-response-curves-main .equation-img {
    width: 90%;
    margin: 0px auto;
}

#dose-response-curves-main .equation-img img {
    display: block;
    margin: auto;
}

#control-panel {
    width: 100%;
}

#dose-response-curves-main .caption {
  width: 80%;
  margin: 0px auto;
  margin-bottom: 7ex;
}

#controls {
    width: 100%;
    margin: 0px auto;
}

#sliders, #presets {
    width: 50%;
    margin: 0px auto;
}

#presets table {
    table-layout: fixed;
}

#presets button {
    width: 100%;
    font-size: 12pt;
}

#controls table {
    border: 0px;
    width: 675px;
    margin: 0px auto;
}

#sliders table {
    margin-bottom: 3ex;
}

#presets table {
    margin-bottom: 3ex;
}

#controls tr:nth-child(2n) {
    background-color: #ffffff;
}

#controls td {
    border: 0px;
    vertical-align: middle;
}

#presets td {
    margin: 0;
    padding: 0;
}

#dose-response-curves-main .slider {
    width: 200px;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 5pt;
}

#dose-response-curves-main .slider-value {
    width: 5em;
    text-align: right;
}

#dose-response-curves-main .ui-slider-range {
    background: #f7ab53;
    background-image: none;
}

#dose-response-curves-main .outside-tested-range {
  color: #f7ab53;
}

#dose-response-curves-main .not-defined {
  color: #ff0000;
}

#dose-response-curves-main .img-wrapper {
  text-align:center;
}
